html
html(lang='en')
head 
meta(charset="UTF-8")
title #{title}
link(rel='stylesheet', type='text/css', href='/css/styles.css')
body 
h1 #{message}
p This is a simple Pug template rendering dynamic data from Express.js.
